<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Punto_de_venta.My.MySettings.ConexionClase1" connectionString="server=localhost;user id=adminVentas;password=ventas;persistsecurityinfo=True;database=clase1"
            providerName="MySql.Data.MySqlClient" />
        <add name="Punto_de_venta.My.MySettings.Conexion1Clase1" connectionString="server=localhost;user id=root;password=itsits;database=clase1"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>